<ion-header>
  <ion-toolbar>
    <ion-title>Solicitudes / Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-label></ion-label>
    </ion-item>

    <ion-item color="warning">
      <ion-label>Juan Perez</ion-label>
      <ion-label>
        En Curso
      </ion-label>
    </ion-item>
    <ion-item color="success">
      <ion-label>Miguel Ohara</ion-label>
      <ion-label>
        Completado
      </ion-label>
    </ion-item>
    <ion-item color="danger">
      <ion-label>Camila Vasquez</ion-label>
      <ion-label>
        Cancelado
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>